{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="container-items form_style">
            <div class="container">

                <div class="row custblog_row">
                    <div class="boxblog-reg">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for outfitItem in outfitItems %}
                                <tr>
                                    <td>
                                        {% if outfitItem.image %}
                                            <img src="{{ MEDIA_URL }}{{ outfitItem.image }}"
                                                 style="width:100px; height:100px">
                                        {% endif %}
                                    </td>
                                    <td>{{ outfitItem.name }}</td>
                                    <td>{{ outfit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                                                    <br>
                    <br>

                    <p>
                        <button class="btn btn-primary" onclick="location.href='/'">Home
                        </button>
                    </p>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}