{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">

        <div class="container-items form_style">
            <div class="container">

                <div class="row custblog_row">
                    <div class="boxblog-reg1">



{##}
{##}
{##}
{#    <!-- Team Section -->#}
{#    <section id="team">#}
{#        <div id="services" class="container-fluid">#}
{#        <div>#}
{#            <div class="row">#}
{#            <div class="col-md-12 text-center">#}

             <h3 <a href="/" style="text-decoration: none">Our Services </a></h3>

                <h2 class="brand-before">
                    <small>Linen and Lime provides a wide range of services from fashion styling, image consulting, personal shopping, wardrobe assessment and special event styling for events such as weddings, debs and christenings. Worried about your business wardrobe? We’ve got you covered. Register today to arrange a business style makeover and let us help you become the most stylish man or woman in the entire office.
</small>
                </h2>


{#                    <h2 class="section-heading">Our Services</h2>#}
{#                    <p>Linen and Lime provides a wide range of services from fashion styling, image consulting, personal shopping, wardrobe assessment and special event styling for events such as weddings, debs and christenings. Worried about your business wardrobe? We’ve got you covered. Register today to arrange a business style makeover and let us help you become the most stylish man or woman in the entire office.</p>#}
{#                     <h3 <a href="/" style="text-decoration: none">Linen and Lime provides a wide range of services from fashion styling, image consulting, personal shopping, wardrobe assessment and special event styling for events such as weddings, debs and christenings. Worried about your business wardrobe? We’ve got you covered. Register today to arrange a business style makeover and let us help you become the most stylish man or woman in the entire office.</h3>#}
{#</a></h3>#}
{#                    <div class="shop">#}
{#                    <img class="img-responsive img-full" src="{% static "img/3.gif" %}" >#}
{#                         <div class="carousel-caption">#}
{#                            <p><a href="{% url 'blog' %}" style="text-decoration : none"><h1>Scriptorem dissentiunt ius te. Ne fastidii nominavi eos, et eos inani quaeque. Vim et vitae decore latine, pro et rebum illud facilisi. In dicit pericula interesset mea, his ad ipsum everti nostrud, oblique blandit instructior sea id. Has id quaeque efficiantur reprehendunt, an nec dictas assentior, accusam verterem eam ne.</h1></a>#}
{#                                <p>#}
{#                                </div>#}
{#                    </div>#}
{#                     <div>#}
{#                    <h2 id="Personal_Shopper" class="section-heading"><br>Personal Shopping</h2>#}
{#                    <p>Our style, your budget, our guidance.<br>Feeling frumpy, style drained, or simply just sick and tired of shopping? Linen and Lime are assisting more and more women of all ages and budgets get the look and the style that’s right for them.#}
{#                    Our formula couldn’t be simpler. We simply listen to people to understand their needs and we those needs happen! When we dress someone it is to make them look their best. It’s not about following a fashion trend that may not necessarily suit everybody, it’s about gently helping you improve your style.No matter what the season, we will provide you with valuable advice on what works for you and why as well as what doesn’t work for you and why, meaning the next time you go shopping you will not only know where to find all of the best bargains, but you will also be able to avoid making the kind of impulse purchases that end up at the back of the wardrobe.<br>#}
{#                    Contact the Lien and Lime team today and you will learn how the elements of design lines, contrast, colour, and accessories as well as the influences of movement can play a vital role in bringing an outfit together in total harmony with your style. During our shopping tip you will also learn how to….#}
{#                    Recognise what styles and clothes suit your figure, enhancing what you want to enhance and concealing what you want to hide.#}
{#                    Buy quality over quantity (especially when it comes to major pieces, suits, jackets, pants and skirts)#}
{#                    Choose the right accessories to help turn a great outfit into a spectacular one.<br>#}
{#                    Avoid those impulse buys we are all guilty of.#}
{#                    Whether you are looking for a complete style makeover or simply to busy to shop for yourself, Fashion Stylists has a personal shopping solution for you. Contact our personal shopper team today and shop with confidence for ever more!</p><br><br>#}
{##}
{##}
{##}
{##}
{##}
{#                     <div class="shop">#}
{#                     <img class="img-responsive img-full"  src="{% static "img/1.gif" %}">#}
{#                    </div>#}
{#                    <div>#}
{#                     <h2 id="Wardrobe" class="section-heading"><br>Wardrobe Stylist</h2>#}
{##}
{##}
{##}
{#                    <div class="shop"><br><br><br>#}
{#                     <img class="img-responsive img-full" src="{% static "img/2.gif" %}">#}
{#                    </div>#}
{##}
{##}
         </div>
{##}
{##}
       </div>
      </div>
     </div>
    </div>
</div>
</div>
    </div>



{% endblock %}