{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">

        <div class="container-items form_style">
            <div class="container">

                <div class="row custblog_row">
                    <div class="boxblog-reg1">




             <h3 <a href="/" style="text-decoration: none">Our Services </a></h3>

                <h2 class="brand-before">
                    <small>Linen and Lime provides a wide range of services from fashion styling, image consulting, personal shopping, wardrobe assessment and special event styling for events such as weddings, debs and christenings. Worried about your business wardrobe? We’ve got you covered. Register today to arrange a business style makeover and let us help you become the most stylish man or woman in the entire office.<br>
                        Please go to our stylme tab to upload pictures of your clothes so our online stylist can create an outfit for you.
</small>
                </h2>

         </div>

       </div>
      </div>
     </div>
    </div>




{% endblock %}